/bin/
/build/
/dist/
/vendor/
/tmp/
.DS_Store

# packr files https://github.com/gobuffalo/packr/tree/master/v2
*-packr.go

# banzai cli generated local documentation files
/cmd/docs/*.md

# pipeline openapi files
/pipeline-openapi.yaml
/.gen/pipeline/.travis.yml
/.gen/pipeline/git_push.sh

# cloudinfo openapi files
/cloudinfo-openapi.yaml
/.gen/cloudinfo/.travis.yml
/.gen/cloudinfo/git_push.sh

# IDE integration
/.vscode/*
!/.vscode/tasks.json
/.idea/*
!/.idea/copyright/
!/.idea/*.iml
!/.idea/externalDependencies.xml
!/.idea/go.imports.xml
!/.idea/modules.xml
!/.idea/runConfigurations/
!/.idea/scopes/
