<div>
  <a style="display: none;" target="_blank" rel="noopener noreferrer" download="anwsers.yaml" #downloadLink></a>
  <mat-card class="container">
    <div class="logo"></div>
    <bcu-form
      *ngIf="(groups$ | async) as groups; else loadingOrError"
      [groups]="groups"
      [initialValue]="initialValue"
      (save)="onSave($event)"
    ></bcu-form>
    <ng-template #loadingOrError>
      <div *ngIf="error; else loading" class="error">
        <pre>{{ error }}</pre>
      </div>

      <ng-template #loading>
        <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
      </ng-template>
    </ng-template>
  </mat-card>
</div>
